.button {
  border: 1px solid #ccc;
  background: gray;
  font-size: 14px;
  display: inline-block;
  padding: 4px;
  color: #fff;
  margin: 0 4px;
  border-radius: 0px;
  cursor: pointer;
  &.small {
    font-size: 10px;
  }
}