.react-tabs__tab-list {
  margin: 0 0 10px 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  border-bottom:1px solid #ccc;
  border-top:1px solid #ccc;

  > li {
    list-style-type: none;
    border-left:1px solid #ccc;

    display: inline-block;
    padding:10px;
    width:100%;
    cursor: pointer;
  }
  >li:nth-last-child(1){
    border-right:1px solid #ccc;

  }

}

.react-tabs__tab--selected{
  background: #ccc;
  color:#333;
}