.ImageUpload {
  font-family: sans-serif;
}

.react-modal-container {
  font-family: sans-serif;
  position: fixed;
  top: 0;
  z-index: 1030;
  right: 0;
  width: 40%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.39);
}

.react-modal-container .react-modal-popup {
  background: #fff;
  width: 100%;
  max-width: 300px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.react-modal-container .react-modal-popup .react-modal-preload {
  width: 100%;
  text-align: center;
}

.react-modal-container .react-modal-popup .react-modal-header {
  width: 100%;
}

.react-modal-container .react-modal-popup .react-modal-content #react-modal-submit {
  margin-left: 5px;
}

.react-modal-container .react-modal-popup .react-modal-footer {
  width: 100%;
}

.react-button {
  background: #fafafa;
  display: inline-block;
  color: #000;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
}

.react-image-upload-preview {
  margin-top: 10px;
}

.react-image-upload-preview .react-image-upload-preview-image img {
  max-width: 100%;
}

.react-image-upload-preview .react-image-upload-preview-toolbar {
  background: #8f8f8f;
  padding: 5px 10px;
  text-align: right;
  height: 30px;
  position: relative;
}

.react-image-upload-preview .react-image-upload-preview-toolbar .close {
  background: #000;
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    font-style: normal;

  }
}