@import url("https://fonts.googleapis.com/css?family=Roboto");
.button {
  border: 1px solid #ccc;
  background: gray;
  font-size: 14px;
  display: inline-block;
  padding: 4px;
  color: #fff;
  margin: 0 4px;
  border-radius: 0px;
  cursor: pointer; }
  .button.small {
    font-size: 10px; }

.ImageUpload {
  font-family: sans-serif; }

.react-modal-container {
  font-family: sans-serif;
  position: fixed;
  top: 0;
  z-index: 1030;
  right: 0;
  width: 40%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.39); }

.react-modal-container .react-modal-popup {
  background: #fff;
  width: 100%;
  max-width: 300px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 4px; }

.react-modal-container .react-modal-popup .react-modal-preload {
  width: 100%;
  text-align: center; }

.react-modal-container .react-modal-popup .react-modal-header {
  width: 100%; }

.react-modal-container .react-modal-popup .react-modal-content #react-modal-submit {
  margin-left: 5px; }

.react-modal-container .react-modal-popup .react-modal-footer {
  width: 100%; }

.react-button {
  background: #fafafa;
  display: inline-block;
  color: #000;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer; }

.react-image-upload-preview {
  margin-top: 10px; }

.react-image-upload-preview .react-image-upload-preview-image img {
  max-width: 100%; }

.react-image-upload-preview .react-image-upload-preview-toolbar {
  background: #8f8f8f;
  padding: 5px 10px;
  text-align: right;
  height: 30px;
  position: relative; }

.react-image-upload-preview .react-image-upload-preview-toolbar .close {
  background: #000;
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }
  .react-image-upload-preview .react-image-upload-preview-toolbar .close i {
    font-style: normal; }

.react-tabs__tab-list {
  margin: 0 0 10px 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc; }
  .react-tabs__tab-list > li {
    list-style-type: none;
    border-left: 1px solid #ccc;
    display: inline-block;
    padding: 10px;
    width: 100%;
    cursor: pointer; }
  .react-tabs__tab-list > li:nth-last-child(1) {
    border-right: 1px solid #ccc; }

.react-tabs__tab--selected {
  background: #ccc;
  color: #333; }

.components-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box; }
  .components-container .compo {
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer; }
    .components-container .compo:hover {
      background: #ccc;
      color: #000; }

* {
  box-sizing: border-box; }

ul.navigation {
  background: #333;
  margin: 0 0 10px 0;
  padding: 0; }
  ul.navigation > li {
    list-style-type: none;
    background: #8f8f8f;
    padding: 10px;
    display: inline-block; }
    ul.navigation > li a {
      text-decoration: none;
      color: #fff;
      font-family: sans-serif;
      text-transform: uppercase;
      font-size: 14px; }

.container > div {
  position: relative;
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif; }
  .container > div .editor {
    position: fixed;
    overflow: scroll;
    padding: 10px;
    padding-bottom: 500px;
    margin-bottom: 500px;
    right: 0;
    height: 100%;
    width: 40%;
    z-index: 1;
    background: #333;
    color: #fafafa;
    font-weight: 100;
    font-size: 14px;
    border-radius: 4px; }
  .container > div .preview-container {
    width: 60%; }

.preview.preview-true .compo-component:hover {
  box-sizing: content-box; }

.options h4 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 4px; }
.options label {
  display: block;
  padding-top: 30px;
  padding-bottom: 20px; }

input, textarea {
  width: 100%;
  min-height: 22px;
  font-size: 12px; }

.input-with-options input {
  width: 95%; }
.input-with-options .rdw-editor-wrapper {
  background: white; }
.input-with-options svg {
  font-size: 20px;
  width: 5%;
  position: relative;
  top: 5px;
  left: 5px;
  cursor: pointer; }

@media only screen {
  html {
    min-height: 100%;
    background: #fafafa; } }
@media only screen and (max-width: 666px) {
  .small-float-center {
    margin: 0 auto !important;
    float: none !important;
    text-align: center !important; } }
@media only screen and (max-width: 666px) {
  table.body table.container .show-for-large {
    display: none !important;
    width: 0;
    mso-hide: all;
    overflow: hidden; } }
@media only screen and (max-width: 666px) {
  table.body img {
    width: auto;
    height: auto; }

  table.body center {
    min-width: 0 !important; }

  table.body .container > div {
    width: 95% !important; }

  table.body .columns {
    height: auto !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 16px !important;
    padding-right: 16px !important; }

  table.body .columns .columns {
    padding-left: 0 !important;
    padding-right: 0 !important; }

  table.body .collapse .columns {
    padding-left: 0 !important;
    padding-right: 0 !important; }

  th.small-4 {
    display: inline-block !important;
    width: 16.66667% !important; }

  th.small-6 {
    display: inline-block !important;
    width: 25% !important; }

  th.small-12 {
    display: inline-block !important;
    width: 50% !important; }

  th.small-24 {
    display: inline-block !important;
    width: 100% !important; }

  table.menu {
    width: 100% !important; }

  table.menu td,
  table.menu th {
    width: auto !important;
    display: inline-block !important; }

  table.menu.vertical td,
  table.menu.vertical th {
    display: block !important; }

  table.menu[align=center] {
    width: auto !important; } }
.codeModal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; }
  .codeModal .codeClose {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
    cursor: pointer; }
  .codeModal .codeContent {
    padding: 20px;
    box-sizing: border-box;
    width: 500px;
    background: #fff; }
    .codeModal .codeContent .sourcecode {
      box-sizing: border-box; }

textarea {
  width: 100%;
  height: 300px;
  margin: 30px 0; }

.preview-container .button {
  padding: 10px;
  border-radius: 0px;
  background: #8f8f8f;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 10px; }
  .preview-container .button a {
    font-family: sans-serif;
    font-size: 12px;
    text-decoration: none; }
    .preview-container .button a:hover {
      background: #8f8f8f; }

.save-button {
  padding: 10px;
  color: #fff;
  background: #8f8f8f;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px; }

.save-button:active {
  background: #aaa6ff; }

.tools-container {
  display: flex;
  justify-content: flex-end; }
  .tools-container .tool-container:nth-child(1) {
    border-bottom-left-radius: 5px;
    padding: 3px 3px 3px 7px; }
  .tools-container .tool-container:nth-last-child(1) {
    padding: 3px 7px 3px 3px; }
  .tools-container .tool-container {
    background: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; }
    .tools-container .tool-container:hover {
      background: white;
      color: green; }
    .tools-container .tool-container .tool-icon-container {
      text-align: center;
      cursor: pointer;
      height: 24px; }

.editor {
  font-family: 'Roboto', sans-serif; }

.rdw-link-modal {
  height: auto !important; }

.flyers-table {
  font-family: sans-serif;
  border-top: 1px solid #000;
  width: 100%; }
  .flyers-table .flyers-row {
    box-sizing: border-box;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%; }
    .flyers-table .flyers-row .flyers-title {
      padding: 10px;
      text-decoration: none;
      color: #000;
      width: 70%; }
    .flyers-table .flyers-row .flyers-tools {
      padding: 10px;
      border-left: 1px solid #000;
      width: 30%;
      text-decoration: none;
      color: #000; }
      .flyers-table .flyers-row .flyers-tools * {
        display: inline-block; }
      .flyers-table .flyers-row .flyers-tools a {
        margin-left: 5px;
        text-decoration: none;
        color: #000; }

/*# sourceMappingURL=app.css.map */
