.components-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  .compo {
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    &:hover {
      background: #ccc;
      color: #000;
    }

  }
}